<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<div class="container mt-5 pt-4">
    
    <div class="col-6 mt-5 pt-4 mx-auto">
        
            <div class="row">
                <div class="form-group col-12 mt-3">
                    <h3>http://127.0.0.1:5000/{{displayShort}}</h3>
                    <br>
                    <a href="http://127.0.0.1:5000/index">BACK TO PAGE</a>
                </div>
            </div>
    </div>

</div>

</body>
</html>