<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .intej{
            background: #40dfef;
        }
        .tej{
            background: #e78e99;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body class="tej">

<div class="container mt-5 pt-4">
    
    <div class="col-6 mt-5 pt-4 mx-auto">
        <h3 class="text-center">URL SHORTNER</h3>

        <form class="mt-2 intej mt-5" method="post">
         
            <div class="row">
                <div class="form-group col-12 mt-3">
                   ENTER URL : <input type="text" class="form-control" name="lurl" id="name">
                </div>
            </div>
            <div class="text-center">
            <button class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

</div>

</body>
</html>